# Python temporary files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE specific files
.idea/
.vscode/
*.swp
.DS_Store
